.header-container{
  display: flex;
  width: 100%;
  height: 120px;
 

  justify-content: center;
  justify-items: center;
  align-items: center;
  background-image: url("./src/assets/img/bannerPpal.jpg");
  background-repeat: no-repeat;
  background-size:100%;

}

.container-location{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}
.title{
  margin-top: 2rem;
  text-align: center;
  color: white;
  font-size: 25px;
}

.container-search{
  
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  width: 90%;
  height: 50px;
}
.container-search > input{
  
  width: 60%;
  border-radius: 10px 0px 0px 10px;
  border: none;
  font-size: 15px;
  text-align: center;
  box-shadow: 3px 3px 20px 1px rgb(37, 37, 37);


}
.container-search > button{
  color: #fff !important;
  font-size: 15px;
  font-weight: 500;
  width: 40%;
  border-radius: 0px 10px 10px 0px;
  padding: 0.5em 1.2em;
  background: #318aac;
  position: relative;
  border: 2px solid #318aac;
  outline: 1px solid;
  outline-color: rgba(49, 138, 172, 0.4);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.container-search > button:hover{
  box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
  outline-color: rgba(49, 138, 172, 0);
  outline-offset: 20px;
  text-shadow: 1px 1px 6px #fff;
 
}
.title-location{
  color: white;
  font-size: 20px;
  margin-bottom: 2rem;
}
.location-info{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 2rem;
  color: white;
  font-size: 10px;
  gap: 1rem;
}


b{
  color: #318aac;
  font-size: 20px;
 
}
.list-residents{
  margin: 3rem;
}



/* ###################################################### QUERYS ################################################################################# */

@media screen and (min-width: 678px){
  
  .header-container{
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-image: url("./src/assets/img/bannerPpal.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%; 
  }

  .title{
    margin-top: 2rem;
    text-align: center;
    color: white;
    font-size: 5em;
  }
  .container-search{
  
    margin-top: 2rem;
    margin-bottom: 3rem;
    display: flex;
    width: 50%;
    height: 50px;
  }
  .container-search > button{
    color: #fff !important;
    font-size: 20px;
    font-weight: 500;
    width: 20%;
    border-radius: 0px 10px 10px 0px;
    padding: 0.5em 1.2em;
    background: #318aac;
    position: relative;
    border: 2px solid #318aac;
    outline: 1px solid;
    outline-color: rgba(49, 138, 172, 0.4);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .title-location{
    color: white;
    font-size: 40px;
    margin-bottom: 2rem;
  }
  .location-info{
 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5rem;
    margin-bottom: 2rem;
    color: white;
    font-size: 20px;
    margin-top: 3rem;
  
  }

 
  b{
    color: #318aac;
    font-size: 30px;
   
  }

  .container-search > input{
  
    font-size: 25px;
 
  
  
  }
}